@import '~@react-md/app-bar/dist/functions';
@import '~@react-md/table/dist/mixins';
@import '~@react-md/theme/dist/color-palette';

.rmd-table-cell {
  &--sticky::after {
    border-bottom: 0 !important;
  }
}

.container {
  max-height: 90vh;
}

.name {
  min-width: 250px;
  max-width: 250px;
}

th {
  min-width: 200px;
  max-width: 200px;
  border-bottom-width: 1px;
}

td {
  min-width: 200px;
  max-width: 200px;
  &.sorted {
    font-weight: bold;
  }
}
